# Byte-compiled / optimized / DLL files
__pycache__/
params
acc_change/
*script*
checkpoint
compute_correspondence.py
data/
feats/
fig/
final/
imagenet_images/
kmean.py
mini_gg3.py
mode.txt
rm.py
visualize*